

@media only screen and (max-width:450px) {
  
    /* with is changed for mobile view */
    .contct-me-form {
      background-color: #f6f6f8;
      width: 80vw;
      margin: 1rem auto;
      padding: 1rem 2rem;
    }
  
    /* intro text width is increased for mobile */
    .about-me-details article {
      margin: 2rem 0;
      width: 70vw;
  
    }
  
    /* video width is changed for mobile media query */
    .about-me-details video {
      height: auto;
      width: 90vw;
    }
    /* width of img is futher incresed in mobile view */
    .project-single .project-img {
      width: 100%;
      align-self: center;
      margin-top: 1rem;
    }
  }